<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container" style="text-align:left">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div style="margin-bottom: 50px">
          <img width="100%" src="../assets/img/flukso.splash.png" style="padding: 20px 40px 0 40px" />
          <h2 style="text-align: right; padding-right: 40px">export</h2>
        </div>


        <h6 style="float: left">Sensor Id</h6>
        <input type="text" id="id" name="id" placeholder="Sensor Id" [formControl]="sid" class="form-control" required>
        <div *ngIf="sid.invalid && (sid.dirty || sid.touched)" class="alert alert-danger">
          <div *ngIf="sid.errors.required">
            Sensor id is required.
          </div>
        </div>
        <h6 style="float: left">Sensor Token</h6>
        <input type="text" id="token" name="token" placeholder="Sensor Token" [formControl]="token" class="form-control"
          required>
        <div *ngIf="token.invalid && (token.dirty || token.touched)" class="alert alert-danger">
          <div *ngIf="token.errors.required">
            Sensor token is required.
          </div>
        </div>

        <h6 style="float: left">Period</h6>
        <input type="text" placeholder="Period" class="form-control" bsDaterangepicker [formControl]="dateRange"
          [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">

        <h6 style="float: left">Resolution</h6>
        <select class="form-control" [formControl]="resolution">
          <option *ngFor="let res of resolutions" [ngValue]="res.value">{{res.name}}</option>
          <option value="0">Custom</option>
        </select>

        <div *ngIf="resolution.value == 0">
          <input type="number" placeholder="resolution in seconds" [formControl]="cResolution" class="form-control"
            required>
            <div class="alert alert-info alert-sm">
              The resolution is expressed in seconds.
            </div>

          <div *ngIf="cResolution.invalid && (cResolution.dirty || cResolution.touched)" class="alert alert-danger">
            <div *ngIf="cResolution.errors.required">
              Resolution is required.
            </div>
          </div>
        </div>

        <input style="margin-top: 20px" type="checkbox" [formControl]="diff"> Calculate the derivative<br>
      </div>
    </div>
  </div>




  <button class="btn btn-primary" (click)="export()" [disabled]="token.invalid || sid.invalid || (resolution.value == 0 && cResolution.invalid)">Export</button>

</div>
